.note-container input[type="text"].note-title {
  font-size: 21px;
}

.note-container input[type="text"].note-tags {
  font-size: 12px;
}

/* is plural, for <NoteList /> */
.notes-container {
  display:flex;
  flex-direction: row;
  max-width: 300px;
}

/* <NotePreview> */
.note-preview {
  padding: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.note-date-preview, .note-text-preview {
  font-size: 10px;
}

.note-title-preview {
  font-weight: bold;
  font-size: 17px;
}

.searchbar {
  border: 1px solid black;
  text-align: center;
}


/* The div containing NoteHeader and NoteEditor */
.note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* NoteHeader div container */
.note-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.editor-container {
  display: flex;
  /*height: 100%;*/
}

.editor-container textarea {
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*resize: none;*/
}



/* This is a placeholder */
.separator {
  height: 15px;
  width: 100%;
  background-color: #F1F1F1;
}

div {
  box-sizing: border-box;
}
