.note-container input[type="text"].note-title {
  font-size: 23px;
}

.note-container input[type="text"].note-tags {
  font-size: 15px;
}


/* is plural, for <Notes /> */

.notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}


/* <NoteList /> */

.note-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  border-right: 1px solid rgb(236, 236, 236);
}


/* <NotePreview> */

.note-preview {
  padding: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
}


.note-date-preview,
.note-text-preview {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
}

.note-title-preview {
  font-weight: bold;
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-selected-preview {
  background-color: rgb(8, 109, 214);
  color: white;
}

.searchbar {
  border: 1px solid black;
  text-align: center;
}

.searchbar-container {
  padding-left: 5px;
  padding-right: 5px;
}


/* The div containing NoteHeader and NoteEditor */

.note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: fill;
  flex-basis: fill;
}


/* NoteHeader div container */

.note-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px;
}

.editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 100%;*/
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*resize: none;*/
}


/* The actual editor */
.editor-container > textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
}


/* This is a placeholder */

.separator {
  height: 15px;
  width: 100%;
  background-color: #F1F1F1;
}

div {
  box-sizing: border-box;
}
