.tags-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  max-width: 150px;
}

input[type="text"].tag-input {
  color: #000;
  font-weight: 600;
  /*cursor: pointer;*/
}

.tags-list {
  overflow: scroll;
}

.tag-item {
  cursor: pointer;
}

.tag-item-count {
  position: relative;
  left: 3px;
}

.tags-header {
  text-align: center;
}

.selected-tag {
  color: red;
  border: 1px solid red;
}

.selected-tag input[type="text"].tag-input {
  color: red; /* **TODO** better colors exist */
}

.tag-ctrl,
.tag-ctrl:hover,
.tag-ctrl:active {
  cursor: pointer;
}
